<p>
  <a class="text-primary" data-bs-toggle="collapse"  href="#collapseExample" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample" style="font-family:Qualy">
    filtre 
  </a>
</p>
<div class="collapse" id="collapseExample">
  
  <div class="card card-body fil">
    <div class="row">
      <div class="col" style="font-family:Qualy">
    nombre de place :
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">3</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">5</label>
    </div>
  </div>
  <div class="col" style="font-family:Qualy">
    nombre de porte :
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio3" value="option1">
      <label class="form-check-label" for="inlineRadio3">3</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions2" id="inlineRadio4" value="option2">
      <label class="form-check-label" for="inlineRadio4">5</label>
    </div>
  </div>
  <div class="col" style="font-family:Qualy">
    climatiseur :
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio1" value="option1">
      <label class="form-check-label" for="inlineRadio1">oui</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="inlineRadioOptions3" id="inlineRadio2" value="option2">
      <label class="form-check-label" for="inlineRadio2">non</label>
    </div>
  </div>
  
    
      <div class="col" style="font-family:Qualy">
    boite vitesse :
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="a" id="a" value="option1">
      <label class="form-check-label" for="inlineRadio1">auto</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="a" id="a" value="option2">
      <label class="form-check-label" for="inlineRadio2">manuel</label>
    </div>
    <br>
    <div class="row">
      <div class="offset-4">
<div class="mx-auto" style="width: 100px;"><button class="btn-primary">Fillter</button></div>
</div>
    </div>
    
  </div>
  </div>
</div>
<br>