
<app-navbar></app-navbar>
<app-car></app-car>
<br>
<br>
<div class="bgi">
<p class="text-primary text-center" style="font-family:LEMON MILK">Découvrez nos voitures</p>
<br>

<div class="row mx-auto container" >
    <div class="col gy-4">
        <app-cardv></app-cardv>
    </div>
    <div class="col gy-4">
        <app-cardv></app-cardv>
    </div>
    <div class="col gy-4">
        <app-cardv></app-cardv>
    </div>
  </div>

<br>
<br>
<div class="mx-auto" style="width: 200px;"><a routerLink="/voiture" id="b1" class="btn btn-primary rounded-pill " style="font-family:Qualy">VOIR PLUS</a>
</div>
<br>

<br>
<p class="text-primary text-center" style="font-family:LEMON MILK">ABOUT US</p><br>
<div class="container overflow-hidden">
    <div class="row gx-5">
      <div class="col">
       <div class="p-4  bg-light text-primary" style="height:500px" >azfibafbzo aubda zufvauzvf zuavfuaz qvfuzal:yazazfibafbzo aubda zufvauzvf zuavfuaz qvfuzal:yazazfibafbzo aubda zufvauzvf zuavfuaz qvfuzda zufvauzvf zuavfuaz qvbda zufvauzvf zuavfuaz qvafbzo auda zufvaavfuaz qvfuzal:ya azfibafbauzvf zuavfuaz qvfo aubda zufvauzvf zuavfuaz qvfuzal:yaz</div>
      </div>
      <div class="col">
        <div class="p-4 rounded bg-light"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1599.29421118606!2d10.429275!3d36.708427!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa57cc71a0c8ce0a1!2sISTIC!5e0!3m2!1sfr!2sus!4v1617227094125!5m2!1sfr!2sus" width="500" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
      </div>
    </div>
  </div>
</div>
  <br>
