<app-navbar></app-navbar>
<app-filter></app-filter>
<div class="container"> 
    <div class="row container-fluid">
        <div class="col">
            <app-cardv></app-cardv>
        </div>
        <div class="col">
            <app-cardv></app-cardv>
        </div>
        <div class="col">
            <app-cardv></app-cardv>
        </div>
        <div class="col">
            <app-cardv></app-cardv>
        </div>
        <div class="col">
            <app-cardv></app-cardv>
        </div>
        <div class="col">
            <app-cardv></app-cardv>
        </div>
      </div>
    </div>