<table style="width:100%" >
    <tr>
      <td style="font-family:Finance">Matricule</td>
      <td><select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>99TUN9999</option>
        <option value="1">99TUN9999</option>
        <option value="2">99TUN9999</option>
        <option value="3">99TUN9999</option>
      </select></td>
      <td style="font-family:Finance">NBPORTE</td>
      <td ><select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>3</option>
        <option value="1">5</option>
      </select></td>
      <td style="font-family:Finance">NBPLACE</td>
      <td ><select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
        <option selected>3</option>
        <option value="1">5</option>
      </select></td>
    </tr>
    <tr>
      <td style="font-family:Finance">MARQUE</td>
      <td><input type="text"></td>
      <td style="font-family:Finance">IMG</td>
      <td style="font-family:Finance">
        <input type="file" id="avatar"  name="avatar" accept="image/png, image/jpeg"></td>
    </tr>
    <tr>
        <td style="font-family:Finance">MODEL</td>
        <td><input type="text"></td>
        <td style="font-family:Finance">BOITVITESSE</td>
        <td style="font-family:Finance"><INPUT type="radio" id="bv"> AUTO</td>
        <td style="font-family:Finance"><INPUT type="radio" id="bv">MANUEL</td>
    </tr>
    <tr>
        <td style="font-family:Finance">PRIX</td>
        <td><input type="text"></td>
        <td style="font-family:Finance">CLIMATISATION          </td>
        <td style="font-family:Finance"><INPUT type="radio" id="CL"> OUI</td>
        <td style="font-family:Finance"><INPUT type="radio" id="CL"> NON</td>
    </tr>

  </table>

  <br>
  <input type="submit" name="login" class="btn btn-primary" value="MODIFIER" style="font-family:finance">