<app-navbar></app-navbar>
<br>
<div class="login-card container">
    <h1 class="text-primary" style="font-family:Qualy">KRAHEB</h1><br>
  <form action="bd">
    <label for="user" class="text-primary" style="font-family:finance"><h4>Nom d'utilisateur</h4></label><br>
    <input type="text" name="user" ><br>
    <label for="user" class="text-primary" style="font-family:finance"><h4>Mot de passe</h4></label><br>
    <input type="password" name="pass" >
    <input type="submit" name="login" class="btn btn-primary" value="Se connecter" style="font-family:finance">
  </form>
    
</div>
