<ng-template [ngIf]="login">
  <div>
    <app-navbd></app-navbd>
    <br>
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active text-primary" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
          type="button" role="tab" aria-controls="nav-home" aria-selected="true"
          style="font-family:LEMON MILK">DASHBOARD</button>
        <button class="nav-link text-primary" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
          type="button" role="tab" aria-controls="nav-profile" aria-selected="false"
          style="font-family:LEMON MILK">GESTION DE VOITURES</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <app-dashboard></app-dashboard>
      </div>
      <div class="tab-pane fade container " id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"><br>
        <app-gdv></app-gdv>
      </div>
    </div>
  </div>
</ng-template>
<ng-template [ngIf]="!login">
  <div class="container text-center my-5">    
    <h1 class="text-primary"><img src="https://img.icons8.com/cute-clipart/100/000000/bug.png"/> 404</h1>
    <h1 class="text-primary">Page not found</h1>
    <h5>We are sorry, the page you requested could not be found.Please go back to the Loginpage or contact us at <a href="mailto:Kraheb@gmail.com">Kraheb@gmail.com</a></h5>
    <a class="btn btn-primary btn-lg text-white mt-4"  aria-current="page" routerLink="/gestion">Take Me Login</a>
</div>
</ng-template>

