<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="10000">
      <video autoplay ><source src="assets/vid.mp4"  type="video/mp4" class="d-block w-100"  ></video>
      <div class="carousel-caption  d-none d-center d-md-block">
        <h1><p>Reserver votre voiture de location maintenant</p></h1>
        <button type="button" class="btn btn-primary rounded-pill" style="font-family:Qualy" aria-current="page" routerLink="/reservation">RESERVER</button>
      </div>
    </div>
  </div>
</div>