<div class="card shadow " style="width: 18rem;">
    <img src="assets/img/c1.png" class="card-img-top" alt="...">
    <div class="card-body ">
      <h5 class="card-title text-center" style="font-family:LEMON MILK">{{carname}}</h5>
      <p class="card-text text-center" style="font-family:'Segoe UI'">A partire de {{prix}}/jour</p>
      <div class="row mx-auto">
        <div class="col">
          <h5 class="text-primary"><img src="./assets/img/per.png" style="height: 30px;width: 30px;">{{place}}</h5>
        </div>
        <div class="col">
          <h5 class="text-primary"><img src="./assets/img/car.png" style="height: 40px;width: 40px;">{{porte}}</h5>
        </div>
        <div class="col">
          <h5 class="text-primary"><img src="./assets/img/clim.png" style="height: 35px;width: 35px;">{{clim}}</h5>
        </div>
      </div>
      <div class="mx-auto" style="width: 100px;"><a href="#" class="btn btn-light text-primary rounded-pill shadow " style="font-family:Qualy;">RESERVER</a></div>
    </div>
  </div>