<app-navbar></app-navbar>
<h1>DETAILS DE LOCATION</h1>
<div>voiture<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <option selected>voiture 1</option>
    <option value="1">voiture 2</option>
    <option value="2">voiture 3</option>
    <option value="3">voiture 4</option>
  </select></div>
  <div>date de prise <input type="date"></div>
  <div>date de prise <input type="date"></div>
  <h1>INFORMATION DU CONDUCTEUR</h1>
  <div>CIN <input type="text"></div>
  <div>NOM <input type="text"></div>
  <div>PRENOM <input type="text"></div>
  <div>DATE DE NAISSANCE <input type="date"></div>
  <div>EMAIL <input type="email"></div>
  <div>TELEPHONE <input type="tel"></div>
  <div>ADRESSE <input type="TEXT"></div>
  <input type="submit" name="login" class="btn btn-primary" value="RESERVER" style="font-family:finance">