<app-navbar></app-navbar>
<div class="bgc">
<div class="container bgc">
<p class="text-primary text-center cen" style="font-family:Qualy">DETAILS DE LOCATION</p>
<div class="finance" style="font-family:finance">voiture<select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
    <option selected>voiture 1</option>
    <option value="1">voiture 2</option>
    <option value="2">voiture 3</option>
    <option value="3">voiture 4</option>
  </select></div>
  <div class="" style="font-family:finance">date de prise <input type="date"></div>
  <div class="" style="font-family:finance">date de prise <input type="date"></div>
  <br>
  <p class="text-primary text-center cen" style="font-family:Qualy">INFORMATION DU CONDUCTEUR</p>
  <div class="" style="font-family:finance">CIN <input type="text"></div>
  <div class="" style="font-family:finance">NOM <input type="text"></div>
  <div class="" style="font-family:finance">PRENOM <input type="text"></div>
  <div class="" style="font-family:finance">DATE DE NAISSANCE <input type="date"></div>
  <div class="" style="font-family:finance">EMAIL <input type="email"></div>
  <div class="" style="font-family:finance">TELEPHONE <input type="tel"></div>
  <div class="" style="font-family:finance">ADRESSE <input type="TEXT"></div>
  <br>
  <div class="text-center">
  <input type="submit" name="login" class="btn btn-primary rounded-pill" value="RESERVER" style="font-family:finance">
</div>
</div>
</div>