<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #d4d4d4;">
    <div class="container-fluid">
      <a class="navbar-brand text-primary" href="#" style="font-family:Qualy">
        <img src="" alt="" width="25" height="25" class="d-inline-block align-text-top">
        KRAHEB</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-primary" routerLink="/gestion" style="font-family:MADE TOMMY">Se Deconnecter</a>
          </li>
        </ul>  
    </div>
  </nav>
  